/*     login page         */
.login-background{
    background-color: #28425e;
    text-align: center;
    font-family: Verdana;
}

.login-background h1{
    margin-top: 105px;
    font-size: 45pt;
}




.loginButton {
  width: 160px;
  background-color: darkslategray;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.saveButton{
    width: 160px;
    background-color: darkgreen;
    color: white;
    padding: 14px 20px;
    margin: 8px 8px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 15pt;
    float:left;
}

.deleteButton{
    width: 100px;
    background-color: darkred;
    color: white;
    padding: 14px 20px;
    margin: 8px 8px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 15pt;;
}

.newNoteButton{
    width: 140px;
    background-color: darkslategray;
    color: white;
    padding: 8px 0px;
    margin: 4px 0;
    border: none;
    border-radius: 2px;
    cursor: pointer;
}

.newNoteField{
    margin-left: 20px;
    border: none;
    padding: 8px 0px;
}

.signoutButton{
    width: 140px;
    background-color: darkslategray;
    color: white;
    padding: 8px 0px;
    margin: 4px 4px;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    float: right;
}


textarea{
    width:100%;
    float:left;
}



.fontFamily {
    font-family: Verdana;
}
h1.title {
    text-align: center;
    color: ghostwhite;
}

h2.title, h3.title {
    text-align: center;
    color: antiquewhite;
}




/**************************************************************/

.titleUl {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: lightgray;
}

.titleLi {
    float: left;
    font-size: 80%
}

li a {
    display: block;
    color: #28425e;
    text-align: center;
    padding: 5px 14px;
    text-decoration: none;
}


li a:hover:not(.active) {
    background-color: azure;
}

.active {
    background-color: lightslategrey;
    color: white;
}

/**************************************************************/

/* The sidebar menu */
.sidenav {
    height: 100%;
    width: 10%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: darkslategray;
    overflow-x: hidden;
    padding-top: 20px;
}

.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 15px;
    color: #f1f1f1;
    display: block;
}

.sidenav p {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    font-weight: 200;
    display: block;
    color: #f1f1f1;
}

.sidenavDate{
    font-size: 10px;
}




.sidenav a:hover {
    color: lightsteelblue;
}

.main {
    margin-left: 10%; 
    font-size: 28px; 
    padding: 0px 10px;
}


@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}
/**************************************************************/

.descrip {
    font-size: 70%;
    width:100%;
}
.saveDiv{
    width:100%;
}

.inline {
    display: inline-block;
    margin-right: 5px;
}

